body{
    background-color: white;
    color : #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size : 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

.title{
  
  padding: 30px 0;
  text-align: center;
  letter-spacing: 2px;
  color : rgb(130, 196, 196);


}

form{
  margin: 25px 50px 50px 200px;
}
.form input {
  outline: none;
  display: block;
  width: 80%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px 10px 20px;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}

.loginbutton{
  cursor: pointer;
  background: #33b5e5;
  width: 50%;
  border: 0;
  padding: 10px 15px 10px 50px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.loginbutton:hover {
  background: #178ab4;
}