body{
    font-size: 16px;
    font-family: '微軟正黑體';
}
.content{
    margin: 20px auto;
	border: 2px dashed LightBlue;
}
th,td{            
    background-color: rgb(186, 222, 252);          
    margin: 8px;
    height: 50px;
    width: 100px;            
}
#new{
    background-color: rgb(245, 248, 37); 
}    
table{
    width: 100%;
}        
button{
    background-color: #7386D5;
    border: none;
    color:white;
    padding: 10px;
    margin: 4px 2px;
    text-decoration: none;     
    outline: none;           
    text-align: center;
    border-radius: 8px;
}
button:hover{
    background-color: #781491;
}
button:active {
    background-color: #781491;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}